{% extends '::base.html.twig' %}
{% if entity.id %}
    {% set actionRoute = 'exercise_update' %}
{% else %}
    {% set actionRoute = 'exercise_create' %}
{% endif %}

{% block body -%}
    <h1>
        Exercise {% if entity.id %}edition{% else %}creation{% endif %}
        <small>
            {{ club.name }} {% if entity.id %} | {{ entity }}{% endif %}
        </small>
    </h1>
    <div class='btn-group'>
        <a class='btn' href="{{ path('exercise', {'idClub' : club.id}) }}">
            Back to the list
        </a>
    </div>
    <hr/>
    <form class="form-horizontal"
          action="{{ path(actionRoute, {'idClub' : club.id, 'id': entity.id}) }}"
          method="post"
          {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">{% if entity.id %}Save{% else %}Create{% endif %}</button>
            </div>
        </div>
    </form>
{% endblock %}
