{% extends '::base.html.twig' %}
{% form_theme form with 'BpaulinUpfitBundle:Form:form.html.twig' %}

{% block body -%}
    <h1>Exercise creation <small>{{ club.name }}</small></h1>
    <div class='btn-group'>
        <a class='btn' href="{{ path('exercise', {'idClub' : club.id}) }}">
            Back to the list
        </a>
    </div>
    <hr/>
    <form class="form-horizontal" action="{{ path('exercise_create', {'idClub' : club.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }} <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Create</button>
        </div>
    </form>
</ul>
{% endblock %}
