{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Exercise <small>{{ club.name }} | {{ entity }}</small></h1>
    <div class='btn-group'>
        <a class='btn' href="{{ path('exercise', {'idClub' : club.id}) }}">
            Back to the list
        </a>
        <a class="btn" href="{{ path('exercise_edit', {'idClub': club.id, 'id': entity.id }) }}">
            edit
        </a>
    </div>
    <hr/>
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Muscle</th>
                <td>{{ entity.muscle }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
