<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {%- block title -%}
      {% spaceless %}
        {% if breadcrumbs is defined %}
          {% for label in breadcrumbs|keys|reverse %}
            {{- label~' :: ' -}}
          {% endfor %}
        {% endif %}
        {{- 'Upfit' -}}
      {% endspaceless %}
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- style -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    {% block stylesheets %}
    {% stylesheets '//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css'
                     filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% endblock %}
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ path('upfit_home') }}">Upfit</a>
          <ul class="nav pull-right">
            <li class="dropdown">
            {% if app.user.username is defined %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src='{{ app.user.gravatarUrl(24) }}' alt='gravatar'/>
                {{ app.user.username }}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('fos_user_security_logout') }}">Me déconnecter</a></li>
                <li><a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a></li>
              </ul>
            {% else %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Mon espace
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('fos_user_security_login') }}">M'identifier</a></li>
                <li><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Créer mon compte</a></li>
              </ul>
            {% endif %}
            </li>
          </ul>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="https://github.com/bpaulin/upfit" target='_blank'>Github</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div><!-- navbar -->

    <div class="container-fluid">
      <div class="row-fluid">
        <ul class="breadcrumb">
          <li>
            <a href="{{ path('upfit_home') }}">Upfit</a>
            <span class="divider">/</span>
          </li>
            {% for label, url in breadcrumbs %}
              {% if loop.last %}
                <li class="active">{{ label }}</li>
              {% else %}
                <li>
                  <a href="{{ url }}">
                    {{ label }}
                  </a>
                  <span class="divider">/</span>
                </li>
              {% endif %}
            {% endfor %}
        </ul>
      {% for level in ['error', 'info', 'success'] %}
          {% for flashMessage in app.session.flashbag.get(level) %}
              <div class="alert alert-{{ level }}">
                  {{ flashMessage }}
                  <a class="close" data-dismiss="alert" href="#">&times;</a>
              </div>
          {% endfor %}
      {% endfor %}
      {% block body %}
      {% endblock %}
      </div>
    </div><!-- container -->

    {% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
                   '//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
  </body>
</html>
