{% extends "::base.html.twig" %}

{% block body %}
    <table id="clubslist" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js'
                    '@BpaulinUpfitBundle/Resources/public/js/datatables.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    $(document).ready(function() {
        $('#clubslist').dataTable( {
            "sAjaxSource": "{{ path('admin_ajax_clubs_list') }}",
        } );
    } );
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css'
                    '@BpaulinUpfitBundle/Resources/public/css/datatables.css' filter='cssrewrite'%}
     <link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
    {% endstylesheets %}
{% endblock %}
