{% extends "::base.html.twig" %}


{% block body %}
    <table id="userslist" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Gravatar</th>
                <th>User</th>
                <th>E-mail</th>
            </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js'
                    '@BpaulinUpfitBundle/Resources/public/js/datatables.js'
                     filter='cssrewrite' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    $(document).ready(function() {
        $('#userslist').dataTable( {
            "sAjaxSource": "{{ path('admin_ajax_users_list') }}",
            "aoColumnDefs": [
                {
                    "mRender": function ( data, type, row ) {
                        return "<img src='"+row[3]+"'/>";
                    },
                    "bSearchable": false,
                    "aTargets": [ 0 ]
                },
                {
                    "mRender": function ( data, type, row ) {
                        return "<a href='#'>"+row[1]+"</a>";
                    },
                    "bSearchable": true,
                    "aTargets": [ 1 ]
                },
                {
                    "mRender": function ( data, type, row ) {
                        return "<a href='mailto:"+row[2]+"'>"+row[2]+"</a>";
                    },
                    "bSearchable": true,
                    "aTargets": [ 2 ]
                }
    		 ]
        } );
    } );
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css'
                    'bundles/bpaulin_upfit/css/datatables.css' filter='cssrewrite'%}
     <link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
    {% endstylesheets %}
{% endblock %}
